@font-face {
    font-family: iransans;
    src: url('../fonts/iransans/IRANSansWeb.eot');
    src: url('../fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
        url('../fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    font-family: iransans;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    direction: rtl;
    position: relative;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

a,
a:hover {
    text-decoration: none;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

h1,
.h1 {
    font-size: 2.2rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.8rem;
}

h4,
.h4 {
    font-size: 1.6rem;
}

h5,
.h5 {
    font-size: 1.4rem;
}

h6,
.h6 {
    font-size: 1.2rem;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

header {
    width: 100%;
    height: 100%;
    position: relative;

    background: rgb(49, 51, 213);
    background-image: url(../image/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-bottom: 3em;
}

header .container {
    z-index: 1;
}

.svg-bg-header {
    background-image: url(../image/svg-header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    right: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.75);
    z-index: 0;
}

.navbar-toggler-btn {
    background: transparent;
    border: 1px solid #fff;
    display: none;
}

.header-content {
    width: 100%;
    padding-top: 6em;
}

/********* nav main menu style  *********/
.content-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-nav-bar-id.scroll {
    background: #7336f3;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.49);
}
#main-nav-bar-id.hide {
    transform: translateY(-100%);
}
.main-menu-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    transition:all .5s;
}

.main-menu-itme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    max-width: 100px;
    transition: all .4;
}

.main-menu-itme li .link-main-menu {
    font-size: .9rem;
    color: #fff;
    padding: 10px 15px;
}

.col-app-header-content {
    display: flex;
    align-items: center;
}

.app-header-title {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: .6em;
}

.app-header-text {
    font-size: .9rem;
    color: #e3e2ed;
    text-align: justify;
    margin-bottom: .8em;
}

.app-header-image {
    width: 350px;
}

.header-app-btn {
    display: flex;
    justify-content: flex-end;
}

.svg-header-end {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -2px;
}

.header-svg-itme-one {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    right: 10px;
    opacity: .5;
    transform: rotate(-2deg);
}

/***** cusotm btn style *******/
.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    padding: 6px 30px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-gradient {
    background: rgb(49, 51, 213);
    background: linear-gradient(90deg, rgba(49, 51, 213, 1) 31%, rgba(111, 66, 246, 1) 65%);
    background-repeat: no-repeat;
    border-color: rgb(57, 55, 222);
    color: #fff;
    -webkit-box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    transition: all .8;
}

.btn-gradient:hover {
    box-shadow: none;
    color: #fff;
}

.btn-white {
    border-color: #fff;
    color: #fff;
    transition: all .4;
}

.btn-white:hover {
    -webkit-box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.29);
    color: #fff;
}
.btn-default {
    border: 2px solid #7336f1;
    color: #7336f1;
    transition: all .5s;
    background-color: #fff;
}
.btn-default:hover{
    color: #fff;;
    background: rgb(48, 50, 213);
    background: linear-gradient(90deg, rgba(48, 50, 213, 1) 31%, rgba(112, 66, 246, 1) 65%);
    -webkit-box-shadow: -1px 5px 12px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 5px 12px -1px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 5px 12px -1px rgba(0, 0, 0, 0.44);
}
/* input box custom style  */
.form-control-custom {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e1dfe9;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #e1dfe9;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control-custom::placeholder {
    color: #e1dfe9;
}
/******* count up section style ********/
.box-count-up {
    position: relative;
    margin: 2em 0;
}
.box-count-up-border::before,
.box-count-up-border::after {
    content: "";
    position: absolute;
    bottom: 20%;
    width: 2px;
    height: 50%;
    background-color: #c5c5c5;
}

.box-count-up-border::before {
    left: 0;
}

.box-count-up-border::after {
    right: 0;
}

.number-box-count {
    font-size: 2rem;
    text-align: center;
    color: #7336f3;
    font-weight: 700;
}

.title-box-count {
    font-size: .9rem;
    text-align: center;
    color: #000;
}
/***** app counter up section ****/
.app-counter-up-section {
    position: relative;
    width: 100%;
    padding: 4em 0;
}
/****** section app service  *****/
.box-app-heading-title {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1em;
}

.box-app-heading-title span {
    color: #7336f3;
}

.box-app-heading-description {
    font-size: .9rem;
    text-align: center;
}

.box-app-service-icon {
    width: 80px;
    margin: 0 auto;
    margin-bottom: 1em;
    transition: all 1s;
}

.box-app-service-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
    transition: all .4s;
}

.box-app-service-text {
    font-size: .9rem;
    text-align: center;
}

.box-app-service {
    width: 90%;
    margin: 0 auto;
    padding: 20px 25px;
    margin-bottom: 1em;
    border-radius: 6px;
    transition: all .5s;
    cursor: default;
}

.box-app-service:hover {
    -webkit-box-shadow: 0px 0px 11px -2px rgba(112, 112, 112, 0.61);
    -moz-box-shadow: 0px 0px 11px -2px rgba(112, 112, 112, 0.61);
    box-shadow: 0px 0px 11px -2px rgba(112, 112, 112, 0.61);
}
.box-app-service:hover .box-app-service-icon{
    transform: scale(1.1);
}
.box-app-service:hover .box-app-service-title{
    color: #7336f1;
}
.app-service-mockup-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* around-app-section style  */
.around-app-section{
    width: 100%;
    background-color: #f4efff;
    position: relative;
}
.content-around-app{
    width: 100%;
    position: relative;
    padding-top: 18em;
    overflow: hidden;
    padding-bottom: 3em;
}
.around-app-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sh-img-mobile {
    position: absolute;
    max-width: 350px;
    bottom: 10%;
}
.sub-title-around-app {
    font-size: 1.2rem;
    padding: 1em 0;
}

.box-title-around-app {
    font-size: 1.4rem;
    color: #7336f1;
    font-weight: 600;
    padding-bottom: .7em;
}

.box-around-content {
    font-size: .9rem;
    padding-bottom: 1.6em;
}
.shape-box-img {
    position: absolute;
    max-width: 350px;
    opacity: .2;
}
.around-tow{
    bottom: 0;
    left: 0;
}
.around-tow img{
    transform: rotate(25deg);
}
.around-one {
    top: 0;
    right: -12%;
}

.around-one img {
    transform: rotate(180deg);
}
/***** section how to work app  *******/
.how-work-app-section {
    width: 100%;
    position: relative;
    padding: 2em 0;
}
.how-work-app-box{
    cursor: default;
}
.how-work-app-box-image {
    max-width: 100px;
    transition: all .5s;
}
.how-work-app-box.text-right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.how-work-app-box-title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.1em 0;
    transition: all .4s;
}

.how-work-app-box-text {
    font-size: .9rem;
    padding-bottom: 0.6em;
}
.how-work-app-box:hover .how-work-app-box-image {
    transform: translateY(-5px);
}
.how-work-app-box:hover .how-work-app-box-title {
    color: #7336f1;
}
/****** section download app  ****/
.download-app-section {
    width: 100%;
    padding-top: 2em;
    position: relative;
    overflow: hidden;
    background: rgb(53, 55, 193);
    background: linear-gradient(90deg, rgba(53, 55, 193, 1) 31%, rgba(109, 69, 223, 1) 65%);
}
.download-app-image {
    max-width: 400px;
    margin: 0 auto;
    transform: translateY(85px);
}
.download-app-sub-title {
    font-size: 1.3rem;
    color: #fff;
    padding-bottom: .6em;
}

.download-app-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: .9em;
}

.download-app-text {
    color: #fff;
    font-size: .9rem;
}
.download-app-btn {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.download-app-btn i {
    font-size: 2rem;
    padding-left: 10px;
}
.download-app-btn-wrapper {
    margin-top: 2em;
    text-align: center;
}
.download-app-btn-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-right: .5em;
    padding-left: 2em;
}

.download-app-btn-text__sub-title {
    font-size: .7rem;
    display: block;
}

.download-app-btn-text__title {
    font-size: 1.1rem;
    display: block;
}
/***** app screen section ****/
.app-screen-shot-section {
    width: 100%;
    padding: 2em 0;
    position: relative;
}
.app-screen i {
    color: #000;
    font-size: 2rem;
    transition: all .4s;
}
.app-screen:hover i{
    color: #7336f1;
}
.btn-prev-s {
    right: -15%;
}
.btn-next-s {
    left: -15%;
}
.app-screen-shot-bg{
    width: 100%;
    background-image: url("../image/app-mockup-bg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;

}
/* ************************* Slider mockup ***********************************/
.iphone-mockup {
    position: relative;
    z-index: 5;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 203.477897%;
    margin-bottom: 20px;
}

.iphone-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../image/mockup.png);
    background-size: cover;
    background-position: center center;
}

.screen {
    /* overflow: hidden; */
    position: absolute;
    top: 14%;
    bottom: 12.6%;
    left: 6.49%;
    right: 6.4%;
    background-color: #E91E63;
}

.slider {
    height: 100%;
}

.slider div {
    height: 100%;
}
.screen-shot-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1.8rem;
    background: transparent;
    border: 0;
    color: #7a7880;
    cursor: pointer;
    transition: all .5s;
}
.screen-shot-btn:hover{
    color: #7336f1;
}
.screen-shot-btn:focus{
    outline: 0;
}
.btn-right-aw{
    right: -35%;
    z-index: 3;
}
.btn-left-aw {
    left: -35%;
    z-index: 3;
}
/******** monitor test section *******/
.testimonial-section {
    width: 100%;
    padding: 4em 0;
    position: relative;
    overflow: hidden;
    background-color: #f4efff;
}
.box-testimonial {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.box-test-user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
}

.test-name-user {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
}

.test-job-title {
    font-size: 1.1rem;
    padding-bottom: 1em;
    color: #7336f3;
    font-weight: 700;
}

.user-description {
    text-align: center;
    line-height: 28px;
    padding-bottom: 1em;
}
.testimonial-one {
    top: 10%;
    right: 0;
    transform: rotate(180deg) scale(1.5) translateX(-30%);
}
.testimonial-tow{
    bottom: -5%;
    left:-5%;
    transform: rotate(51deg) scale(1.5);
}
/******** section blog post  *******/
.blog-post-section {
    position: relative;
    width: 100%;
    padding: 2em 0;
}
.card-post {
    background: #fff;
    width: 100%;
    margin: .8em 0;
    -webkit-box-shadow: -1px 5px 12px -5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -1px 5px 12px -5px rgba(0, 0, 0, 0.58);
    box-shadow: -1px 5px 12px -5px rgba(0, 0, 0, 0.58);
    transition: all .5s;
}
.card-post:hover{
    box-shadow: none;
}
.card-post-content {
    border: 1px solid #eee;
}
.card-post:hover .card-post-title{
    color: #7336f1;
}
.card-post-image {
    max-width: 100%;
    max-height: 210px;
    overflow: hidden;
}

.post-detail {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    padding: 1em .2em;
    margin-bottom: 1em;
}

/* .post-author span {
    color: #7336f1;
} */

.card-post-title {
    font-size: 1.15rem;
    min-height: 80px;
    text-align: center;
    line-height: 30px;
    transition: all .5s;
}

.card-post-Summary {
    font-size: .9rem;
    padding-bottom: 1em;
    text-align: center;
}

.card-post-content {
    padding: 0 15px;
}
.more-btn {
    text-align: center;
    padding: 2.5em 0;
}
.post-date i,
.post-author i{
    font-size: 1rem;
    color: #7336f1;
}

/****** footer wrapper style *****/
.footer-wrapper {
    width: 100%;
    min-height: 300px;
    position: relative;
    background-color: #3333d6;
    background-image: url(../image/bg-header.png);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}
.contact-wrapper {
    position: absolute;
    max-width: 1240px;
    margin: 0 auto;
    background: rgb(113, 66, 247);
    background: linear-gradient(317deg, rgba(113, 66, 247, 1) 31%, rgba(47, 50, 212, 1) 65%);
    top: -125%;
    right: 0;
    left: 0;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 29px -5px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 2px 2px 29px -5px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 2px 29px -5px rgba(0, 0, 0, 0.47);
    padding: 2em 3em;
}
.title.contact-us-f {
    font-size: 1.5rem;
    color: #fff;
    padding: .7em 0;
    margin-bottom: 1.5em;
    position: relative;
}
.title.contact-us-f::before,
.title.contact-us-f::after {
    content: "";
    height: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
}
.title.contact-us-f::before{
    width: 20%;
    bottom: 0;
} 
.title.contact-us-f::after{
    width: 10%;
    bottom: -10px;
}
.text-contact-us-f {
    color: #e1dfe9;
    padding-bottom: 1.5em;
}

.contact-us-itme-f {
    color: #e1dfe9;
    padding-bottom: 1em;
}

.contact-us-itme-f span {
    font-weight: 600;
    color: #fff;
}
.svg-shape-footer {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
    overflow: hidden;
    padding-top: 1em;
}
.footer-shape-one{
    z-index: 1;
}
.footer-shape-tow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
        transform: translateY(1px) rotate(0deg);
}
.footer-social-network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-social-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: .1rem solid #fff;
    border-radius: 50%;
    margin: 6px;
    color: #fff;
    font-size: 1.3rem;
    transition: all .5s;
}
.link-social-f:hover {
    background-color: #fff;
    color: #7336f1;
    
}
.copy-right-box {
    text-align: center;
    padding: 2em 0;
    color: #fff;
    font-size: 1.2rem;
}

a.copy-right-link {
    color: #d3d3fb;
}

@media screen and (max-width:450px) {
    .footer-content {
        margin-top: 26em;
    }
    .footer-social-network {
        flex-flow: wrap;
    }
    .blog-post-section {
        margin-bottom: 30em;
    }
}
@media only screen and (max-width:520px) {
    .sh-img-mobile {
        max-width: 220px;
    }
    .around-one {
        top: 5%;
        right: -20%;
    }
    .footer-content {
        margin-top: 25em;
    }
    .blog-post-section {
        margin-bottom: 24em;
    }
}

/* mobile and tablet */
@media only screen and (max-width:768px) {
    .svg-bg-header {
        background-position: top;
        transform: scale(1);
    }

    .app-header-title {
        text-align: center;
    }

    .navbar-toggler-btn {
        display: block;
    }

    .main-menu-itme {
        display: none;
    }

    .app-header-image {
        width: 100%;
    }

    .main-menu-navbar {
        height: 60px;
    }

    .navbar-brand {
        max-width: 65px;
    }

    .header-svg-itme-one {
        top: 5px;
        right: 0px;
        transform: rotate(1deg);
    }

    .sh-img-mobile {
        max-width: 300px;
    }
    .shape-box-img {
        max-width: 150px;
        z-index: 0;
    }
    .how-work-app-box{
        text-align: center;
    }
    .how-work-app-box {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .blog-post-section {
        margin-bottom: 30em;
    }
    .contact-wrapper{
        right: 10px;
        left: 10px;
        top: -100%;
        padding: 1em;
    }
    .footer-content {
        margin-top: 20em;
    }
    .how-to-worp-image {
        display: flex;
        justify-content: center;
    }
    .btn-prev-s {
        right: 0;
    }

    .btn-next-s {
        left: 0;
    }
    .btn-right-aw {
        right: 0;
    }

    .btn-left-aw {
        left: 0;
    }
    .img-h-100{
        height: 100%;
    }

    .box-count-up-border::before,
    .box-count-up-border::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        margin: 0 auto;
        right: 0;
        left: 0;
        background-color: #c5c5c5;
    }

    .box-count-up-border::before {
        top: 0;
    }

    .box-count-up-border::after {
        bottom: -15px;
    }
}
/* Large devices (tablet, 769px and up) */
@media only screen and (min-width: 769px) {
    .sh-img-mobile {
        max-width: 250px;
    }
     .how-work-app-box.text-md-right {
         display: flex;
         flex-flow: column;
         align-items: flex-end;
     }
     .blog-post-section {
         margin-bottom: 12em;
     }
     .contact-wrapper{
         max-width: 90%;
     }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sh-img-mobile {
        max-width: 350px;
    }
    .content-around-app{
        padding-top: 18em;
    }
   
}

@media only screen and (min-width: 1400px) {
    .contact-wrapper {
        max-width: 1240px;
    }
}